@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    @apply bg-gray-100;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
